.quiz_note_box {
  display: block;
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: rgb(115, 128, 138);
}

.quiz_note_title {
  padding: 7px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: aliceblue;
}

.quiz_note_textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  resize: none;
  border: 1px solid rgb(211, 230, 255);
  border-radius: 10px;
}
