.home_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.home_title {
  margin-top: 20px;
  animation: fadeInDown 1.5s;
  -webkit-animation: fadeInDown 1.5s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.home_title_box {
  margin-top: 20px;
}

.home_logo_image_box {
  overflow: hidden;
}

.home_logo_image {
  width: 50%;
  transform-origin: 50% 50%;
  animation: rotate_image 6s linear infinite;
  -webkit-animation: rotate_image 6s linear infinite;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.bold_tag {
  color: rgb(100, 149, 237);
}

.footer_tag {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}
