.quiz_result_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.bold_tag {
  color: rgb(100, 149, 237);
}

.quiz_result_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadein 5s ease 3s;
  -webkit-animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quiz_score {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 800;
  color: rgb(100, 149, 237);
}

.quiz_chart_box {
  display: flex;
  align-content: center;
  justify-content: center;
}

.quiz_result_table_box {
  display: inline-block;
  margin-top: 30px;
}

.quiz_result_table {
  display: flex;
  justify-content: center;
}

.correct_answers_tag {
  padding-right: 16px;
  font-size: 20px;
  font-weight: 800;
  color: darkgreen;
}

.incorrect_answers_tag {
  padding-right: 16px;
  font-size: 20px;
  font-weight: 800;
  color: red;
}

.answers_length {
  padding-left: 16px;
  font-size: 20px;
  font-weight: 800;
}

.quiz_result_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  margin-top: 20px;
}
