.quiz_result_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.quiz_timer_infomation {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 16px;
  border: 4px solid rgb(197, 217, 255);
  font-size: 15px;
  font-weight: 700;
  color: gray;
}

.bold_tag {
  color: rgb(100, 149, 237);
}

.quiz_result_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.quiz_score {
  font-size: 50px;
  font-weight: 800;
  color: rgb(100, 149, 237);
}

.quiz_result_table_box {
  display: inline-block;
  margin-top: 14px;
}

.quiz_result_table {
  display: flex;
  justify-content: center;
}

.correct_answers_tag {
  padding-right: 24px;
  font-size: 40px;
  font-weight: 800;
  color: darkgreen;
}

.incorrect_answers_tag {
  padding-right: 24px;
  font-size: 40px;
  font-weight: 800;
  color: red;
}

.answers_length {
  padding-left: 24px;
  font-size: 40px;
  font-weight: 800;
}

.quiz_result_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}
